* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    
}

main {
    padding-left: 5%;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    align-items: center;
    height: 85vh;
}

.text-content {
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.logo {
    margin-top: -10%;
}

p {
    color: #455A64;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.matricula, .senha{
    border-radius: 20px;
    border: 1px solid #455A64;
    background: #FFF;
    width: 418px;
    height: 48px;
    padding-left: 30px;
}

.senha {
    margin-bottom: 10%;
}

.text-content .logo {
    width: 239px;
}

.text-group {
    margin-top: 20%;
}

.submit-group {
    flex-direction: row;
    
}

.login-bt {
    display: flex;
    color: #FFF;
    width: 212px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background: #349730;
    font-family: Roboto, sans-serif;
    
}

.cadastro-bt {
    display: flex;
    color: #FFF;
    width: 212px;
    height: 57px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    background: #455A64;
    font-family: Roboto, sans-serif;
    
}

.img-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #349730;
    width: 50%;
    height: 100%;
}

.img-content img {
    width: 500px;
    justify-content: center;
}