body{
    margin: 0;
    padding: 0;
    background-color: #ffff;
    width: 100%;
}
h2{
    color: white;
    text-align: center;
    margin: auto;
}
nav{
    background-color: rgb(255, 255, 255);
    height: 5rem;
    box-sizing: border-box;
}
nav input, select{
    float: right;
    margin-right: 1rem;
    float: right;
    position: relative;
    top: 50px;
    right: 5%;
}
nav select{
    border: none;
    width: 10%;
    color: gray;
}
nav input{
    border-radius: 25px;
    width: 75px;
    padding: auto;
    border: none;
    background-color: #349730;
    color: white;
}
nav input:hover{
    background-color: #C80C0F;
}


/*formulario*/
main{
    margin-top: 10%;
    box-sizing: border-box;
}
main h2{
    color: black;
}

.padding-formulario{
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    
    
}
.g-3{
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap;
    
}
.g-3 input{
    padding: 0.8rem;
    width: 75%;
    margin-top: 5%;
    
}
.col{
    width: 35%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;

}
.flex input{
    border-radius: 10px;
    padding: 1%;
    width: 8rem;
    border: none;
    margin-bottom: 5rem;
    background-color: #349730;
    color: white;
}
.flex input:hover{
    background-color:#C80C0F ;
    color: white;
    
}

footer{
	text-align: center;
    height: 2rem;

	
}
footer{
    background-color: rgb(52, 43, 43);
    width: 100%;
    color: white;
    padding: 1%;

}
