body{
    margin: 0;
    padding: 0;
    background-color: #EC9191;
}
h2{
    color: white;
    text-align: center;
    margin: auto;
}
nav{
    display: flex;
    justify-content: end;
}
.conteiner-img-nav{
    float: ;
    width: 50px;
}
/*formulario*/
.padding-formulario{
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    
}
.g-3{
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap;
    
}
.g-3 input{
    padding: 0.8rem;
    border: none;
    width: 75%;
    margin-top: 5%;
}
.col{
    width: 35%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;

}
.flex input{
    border-radius: 10px;
    padding: 1%;
    width: 5rem;
    border: none;
    margin-bottom: 5rem;
}

footer{
    background-color: rgb(52, 43, 43);
    width: 100%;
    color: white;
    text-align: center;
    height: 5%;
    display: table;
    position: absolute;
    top: 95%;

}
footer p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}